<!doctype html>
<html lang="en">

<head>
  <title>Carrito</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"> 
  <link rel="stylesheet" href="css/style.css"> 

</head>

<body>
    <div class="contenedor">
        <aside>
            <header>
                <h1 style="font-weight: 400;font-size: 1.8rem;font-family:'Rubik', sans-serif;" class="logoPrincipal">Calzados Group 7</h1>
            </header>
            <nav>
                <ul class="menu">
                    <li>
                        <a href="index.html" class="botonMenu botonCategoria active"><i class="bi bi-hand-index-thumb-fill"></i>Todos los productos</a>
                    </li>
                    <li>
                        <a href="productoNuevo.html" class="botonMenu botonCategoria active"><i class="bi bi-hand-index-thumb-fill"></i>Agregar Nuevo Producto</a>
                    </li>
                   
                </ul>
            </nav>
            <footer>
                <p class="textoPie">© 2023 Grupo 7</p>
            </footer>
        </aside> 
        <main>
            <h1>Carrito<i class="bi bi-cart"></i></h1>
            <div id="app" class="contenedorProductos">
                
                <div class="producto" v-for="elemento in datos">
                    <img class="productoImagen" :src="elemento.imagen" alt="elemento.nombre">
                    <div class="productoDetalles">
                        <h3 class="productoTitulo">Modelo:  {{elemento.nombre}}</h3>
                        <p class="productoPrecio">Precio: $ {{elemento.precio}}</p>
                        <p class="ProductoStock">Stock:  {{elemento.stock}} u</p>
                        
                        <label style="font-size: 2vh;" for="cantidad">CANTIDAD: </label>
                        <input type="number" name="cantidad" id="cantidad" v-model="elemento.cantidad">
                        <button v-on:click="comprar(elemento)" class="productoEliminar">Comprar</button>

                    </div>   
                </div>
                
            </div>  
        </main>

    </div>
  
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script src="js/carrito.js"></script>

</body>

</html>